{% extends 'coder/base.html'%}

{% block content %}
<h1>List of coder</h1>
<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="card">
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Name of coder</th>
                                <th>Designation</th>
                                <th>Email</th>
                                <th>Exp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>1</tr>
                            <th>Gokul</th>
                            <th>Lead</th>
                            <th>4 years</th>
                            <td>DELTE</td>
                            <td>Update</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}